@tailwind base;
@tailwind components;
@tailwind utilities;




section {
  padding-right : 6rem;
  padding-left : 6rem;
}

@media screen  and (max-width:920px){
  section {
  padding-right : 25px;
  padding-left : 25px;
}
}

@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins';
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'syne';
  src: url("../fonts/syne/Syne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'syne';
  src: url("../fonts/syne/Syne-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'syne';
  src: url("../fonts/syne/Syne-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
